@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&subset=latin-ext');

* { /*użycie prostego resetu*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Raleway", Arial, sans-serif;
}
.container {
    width: 1050px;
    margin: 0 auto;
}
header {
    background-color: black;
    color: white;
    text-transform: uppercase;
}
.logo {
    padding-top: 16px;
    padding-bottom: 14px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    float: left;
    font-weight: bold;
}
.menu {
    padding-top: 16px;
    padding-bottom: 14px;
    font-size: 15px;
    float: right;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: white;
}
b {
    color: #2ad0ac;
}
ul {
    list-style: none;
}
li {
    margin: 50px;
}
.menu li {
    display: inline;
}
.container:after {
    content: "";
    display: block;
    clear: both;
}
.main {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ));
}
.chair_and_main_text {
    margin-top: 140px;
    margin-bottom: 70px;
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    height: 300px;
    width: 80%;
    float: left;
    padding-left: 40%;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    margin-top: 55px;
}
.arrow-left, .arrow-right {
    width: 10%;
    line-height: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
    font-weight: 300;
}
.arrow-left {
    float: left;
}
.arrow-right {
    float: right;
}
.arrow-left a, .arrow-right a {
    color: #2ad0ac;
}
.btn {
    width: 265px;
    height: 52px;
    background-color: #2ad0ac;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 52px;
    margin: 0 auto;
    margin-top: 35px;
}
.main:after {
    content: "";
    display: block;
    clear: both;
}

.col-1 {
    float: left;
    width: 33.333%;
}
.col-2{
    float: left;
    width: 33.333%;
}
.col-3 {
    float: left;
    width: 33.333%;
    height: 253px;
}
.picture_box-1 {
    margin-top: 28px;
    margin-right: 30px;
    background-image: url("../images/box1_img.jpg");
    height: 227px;
    box-shadow: 5px /*lewa*/ 5px /*góra*/ 10px /*rozmycie*/ 3px /*rozproszenie*/ gray /*kolorgray*/;
    padding-top: 40%;
}
.picture_box-2 {
    margin-top: 28px;
    margin-right: 30px;
    background-image: url("../images/box2_img.jpg");
    height: 227px;
    box-shadow: 5px /*lewa*/ 5px /*góra*/ 10px /*rozmycie*/ 3px /*rozproszenie*/ gray /*kolorgray*/;
    padding-top: 40%;
}
.box_text {
    margin-top: 28px;
    border: 2px solid gray;
    box-shadow: 5px /*lewa*/ 5px /*góra*/ 10px /*rozmycie*/ 3px /*rozproszenie*/ gray /*kolorgray*/;
}
.underscore {
    width: 60%;
    height: 7px;
    margin-left: 23px;
    background-color: #2ad0ac;
}
h2 {
    margin-left: 23px;
    margin-top: 30px;
}
.p2 {
    margin-top: 17px;
    margin-left: 23px;
}
.p3 {
    margin-left: 23px;
    margin-top: 30px;
}
.picture_box_content {
    background-color: rgba(255, 255, 255, .3);
    width: 100%;
    height: 63px;
}
h3 {
    margin-left: 23px;
    padding-top: 16px;
}
.underscore_2 {
    width: 50%;
    height: 7px;
    margin-left: 23px;
    margin-bottom: 22px;
    background-color: #2ad0ac;
}
.middle {
    margin-bottom: 100px;
}
.middle:after {
    content: "";
    display: block;
    clear: both;
}
.price {
    padding-top: 100px;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 )
}
.underscore_3 {
    width: 30.333%;
    height: 7px;
    background-color: #2ad0ac;
}
.p4 {
    text-transform: uppercase;
    color: black;
}
.price_box_1 {
    margin-right: 32px;
    margin-top: 76px;
    border: 2px solid gray;
    background-color: white;
    margin-bottom: 66px;
}
.price_box_2 {
    margin-right: 32px;
    margin-top: 76px;
    background-color: #2ad0ac;
}

.price_box_3 {
    margin-right: 32px;
    margin-top: 76px;
    border: 2px solid gray;
    background-color: white;
}
.price_col-1 {
    float: left;
    width: 33.333%;
}
.price_col-2 {
    float: left;
    width: 33.333%;
}
.price_col-3 {
    float: left;
    width: 33.333%;
}
.main_circle { /*dodanie okręgów do etykiety cennika 1 i 3*/
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid gray;
    position: relative;
    top: -35px;
    left: 130px;
    background-color: white;
}
.main_circle_2 { /*dodanie okręgów do etykiety cennika 2*/
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #2ad0ac;
    position: relative;
    top: -35px;
    left: 130px;
    background-color: #2ad0ac;
}
.middle_crircle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    left: 12px;
    top: 12px;
}
.middle_crircle_2 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 12px;
    top: 12px;
}
.plan {
    text-align: center;
    margin-top: 15px;
    width: 100%;
    color: #2ad0ac;
    font-size: 20px;
    font-weight: 600;
}
.plan_2{
    margin-top: 15px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.price_circle { /*okręg z ceną 1 i 3*/
    margin-top: 64px;
    margin-left: 90px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid gray;

}
.price_circle_2 { /*okręg z ceną 2*/
    margin-top: 64px;
    margin-left: 90px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #2ad0ac;
    background-color: white;
}
.p5 {
    color: gray;
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.p6 {
    color: gray;
    margin-left: -10px;
    text-align: center;
}
.p7 {
    color: #2ad0ac;
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.p8 {
    color: #2ad0ac;
    margin-left: -10px;
    text-align: center;
}
sup {
    text-align: center;
}
/*dodanie opcji cennika*/
.options {
    margin-top: 243px;
}
.p9 {
    margin-top: 33px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    background-color: lightgray;
    line-height: 45px;
}
.p10 {
    width: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 17px;
    background-color: whitesmoke;
}
.p11 {
    margin-top: 33px;
    width: 100%;
    text-align: center;
    font-size: 17px;
    background-color: white;
    line-height: 45px;
}
.p12 {
    width: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 17px;
    background-color: whitesmoke;
}
.p13 {
    width: 100%;
    text-align: center;
    font-size: 17px;
    background-color: white;
    line-height: 45px;
}
.p14 {
    width: 100%;
    text-align: center;
    font-size: 17px;
    background-color: lightgray;
    line-height: 45px;
}
.p15 {
    width: 100%;
    line-height: 45px;
    text-align: center;
    font-size: 17px;
    background-color: whitesmoke;
}
.join_button {
    color: white;
    text-decoration: none;
    background-color: #2ad0ac;
    line-height: 33px;
    width: 121px;
    height: 33px;
    display: block;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 20px;
    margin-left: 90px;
    border-radius: 10px;
}
.join_button_2 {
    color: #2ad0ac;
    text-decoration: none;
    background-color: white;
    line-height: 33px;
    width: 121px;
    height: 33px;
    display: block;
    text-align: center;
    margin-top: 66px;
    margin-bottom: 20px;
    margin-left: 90px;
    border-radius: 10px;
}
.join_button_3 {
    color: white;
    text-decoration: none;
    background-color: #2ad0ac;
    line-height: 33px;
    width: 121px;
    height: 33px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    border-radius: 10px;
}
.price:after {
    content: "";
    display: block;
    clear: both;
}
.contact_details {
    padding-top: 36px;
}
.contact_col_1{
    width: 70%;
    margin-top: 60px;
    float: left;
}
.contact_col_2{
    width: 30%;
    margin-top: 60px;
    float: right;
}
input, label {
    display: block;
}
.form_group {
    margin: 26px;
    font-size: 20px;
}
input {
    height: 64px;
    width: 70%;
    font-size: 25px;
    border: 1px solid #2ad0ac;
}
textarea{
    width: 70%;
    font-size: 25px;
    border: 1px solid #2ad0ac;
}
.red_chair {
    width: 240px;
    height: 240px;
    background-image: url("../images/red_chair.png");
    background-repeat: no-repeat;
}
.checkbox{
    width: 50px;
    height: 50px;
    display: inline;
}
.checkbox span {
    width: 50px;
    height: 50px;
    border: 1px solid #2ad0ac;
    display: block;
}
.checkbox [type="checkbox"] { /*wyeliminowanie domyślnego kwadracika*/
    display: none;
    visibility: hidden;
}
.checkbox [type="checkbox"]:checked + span{ /*ustawienie "ptaszka" jako zaznaczenie checkboxa*/
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
}
.p17 {
    color: lightgray;
}
.send_button {
    color: white;
    text-decoration: none;
    background-color: #2ad0ac;
    line-height: 72px;
    width: 345px;
    height: 72px;
    display: block;
    text-align: center;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}

.contact_details:after {
    content: "";
    display: block;
    clear: both;
}
.copyright{
    float: left;
}
.flickr, .vimeo, .pinterest, .twitter {
    width: 33px;
    height: 33px;
    float: right;
    margin-right: 7px;
}
.flickr{
    background-image: url("../images/flickr.png");
}
.vimeo{
    background-image: url("../images/vimeo.png");
}
.pinterest{
    background-image: url("../images/pinterest.png");
}
.twitter{
    background-image: url("../images/twitter.png");
}
.p18 {
    color: gray;
    font-weight: 700;
    float: right;
    margin-top: 10px;
    margin-left: 70px;
}
footer:after {
    content: "";
    display: block;
    clear: both;
}