header {
  background: black;
  color: white;
  text-transform: uppercase;
}
.page-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.list-1{
  position:relative;
  height: 20px;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  list-style: none;
}
.list-1 li a{
  transition: 0.2s all ease-in-out;
}

.list-1 li a:hover {
  transform: scale(1.1);
  color: #2ad0ac;
}
.list-1 li{
  margin-left: 20px;
}

.list-1 li ul li{
  display: none;
}
.list-1 li:hover ul li{
  display:flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 150px;
  height: 50px;
}

.logo {
  font-size: 15px;
  font-weight: bold;
  transition: 0.5s all ease-in-out;
}
.logo:hover{
  transform: scale(1.3);
}
a {
  text-decoration: none;
  color: white;
}
.changeColor {
  color: #2ad0ac;
}
