.price-section {
  padding-top: 100px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 )
}
.underscore_3 {
  width: 30.333%;
  height: 7px;
  background-color: #2ad0ac;
}
.p4 {
  text-transform: uppercase;
  color: black;
}
.price_box_1 {
  margin-right: 32px;
  margin-top: 76px;
  border: 2px solid gray;
  background-color: white;
  margin-bottom: 66px;
}
.price_box_2 {
  height: 575px; /*Narazie ustawilem na sztywno, ponieważ nie wiem czemu mój join button_2 nie rozszerza dvia price_box_2*/
  margin-right: 32px;
  margin-top: 76px;
  background-color: #2ad0ac;
}

.price_box_3 {
  margin-right: 32px;
  margin-top: 76px;
  border: 2px solid gray;
  background-color: white;
}
.price_col-1 {
  float: left;
  width: 33.333%;
}
.price_col-2 {
  float: left;
  width: 33.333%;
}
.price_col-3 {
  float: left;
  width: 33.333%;
}
.main_circle { /*dodanie okręgów do etykiety cennika 1 i 3*/
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid gray;
  position: relative;
  top: -35px;
  left: 130px;
  background-color: white;
}
.main_circle_2 { /*dodanie okręgów do etykiety cennika 2*/
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #2ad0ac;
  position: relative;
  top: -35px;
  left: 130px;
  background-color: #2ad0ac;
}
.middle_crircle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: gray;
  position: absolute;
  left: 12px;
  top: 12px;
}
.middle_crircle_2 {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 12px;
  top: 12px;
}
.plan {
  text-align: center;
  margin-top: 15px;
  width: 100%;
  color: #2ad0ac;
  font-size: 20px;
  font-weight: 600;
}
.plan_2{
  margin-top: 15px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.price_circle { /*okręg z ceną 1 i 3*/
  margin-top: 64px;
  margin-left: 90px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid gray;

}
.price_circle_2 { /*okręg z ceną 2*/
  margin-top: 64px;
  margin-left: 90px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #2ad0ac;
  background-color: white;
}
.p5 {
  color: gray;
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.p6 {
  color: gray;
  margin-left: -10px;
  text-align: center;
}
.p7 {
  color: #2ad0ac;
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.p8 {
  color: #2ad0ac;
  margin-left: -10px;
  text-align: center;
}
sup {
  text-align: center;
}
/*dodanie opcji cennika*/
.options {
  margin-top: 243px;
}
.p9 {
  margin-top: 33px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  background-color: lightgray;
  line-height: 45px;
}
.p10 {
  width: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 17px;
  background-color: whitesmoke;
}
.p11 {
  margin-top: 33px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  background-color: white;
  line-height: 45px;
}
.p12 {
  width: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 17px;
  background-color: whitesmoke;
}
.p13 {
  width: 100%;
  text-align: center;
  font-size: 17px;
  background-color: white;
  line-height: 45px;
}
.p14 {
  width: 100%;
  text-align: center;
  font-size: 17px;
  background-color: lightgray;
  line-height: 45px;
}
.p15 {
  width: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 17px;
  background-color: whitesmoke;
}
.join_button {
  color: white;
  text-decoration: none;
  background-color: #2ad0ac;
  line-height: 33px;
  width: 121px;
  height: 33px;
  display: block;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 20px;
  margin-left: 90px;
  border-radius: 10px;
}
.join_button_2 {
  color: #2ad0ac;
  text-decoration: none;
  background-color: white;
  line-height: 33px;
  width: 121px;
  height: 33px;
  display: block;
  text-align: center;
  margin-top: 66px;
  margin-bottom: 20px;
  margin-left: 90px;
  border-radius: 10px;
}
.join_button_3 {
  color: white;
  text-decoration: none;
  background-color: #2ad0ac;
  line-height: 33px;
  width: 121px;
  height: 33px;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 90px;
  border-radius: 10px;
}
.price-section:after {
  content: "";
  display: block;
  clear: both;
}
