@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700&subset=latin-ext');
@import "_header.scss";
@import "_main-section.scss";
@import "_middle-section.scss";
@import "_price-section.scss";
@import "_contact-section.scss";
@import "_footer.scss";
@import "_layout.scss";